.f-div {
    background-color: #FDEEF5;
    color: #FDBFD3;
    text-align: center;
    padding: 40px;
    border-top: #FDBFD3 solid 5px;
    width: 100%;
    bottom: 0;
}

.f-div ion-icon {
    margin: 0  15px 15px 15px;
    font-size: 50px;
}