.shows-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
  font-family: 'Hug Me Tight', sans-serif;
  letter-spacing: 1.5px;
  color: darkslategrey;
}

.shows-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  
}
.selec-show {
  flex-grow: 1;
}

.booking-div {
  flex-grow: 1;
}

.show-card {
  background-color: #FDEEF5;
  border: 5px solid #FDBFD3;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  flex-grow: 1;
  font-family: 'Hug Me Tight', sans-serif;
  letter-spacing: 1.5px;
  
}

.show-card p {
  margin: 5px 0;
  padding-left: 3px;
  font-size: 20px;
  color: darkslategrey;
}

.show-card ion-icon {
  color: #FDBFD3;
  font-size: 30px;
}

.movie-info {
  background-color: #FFCFE2;
  border: 5px solid #FDBFD3;
  border-radius: 8px;
  padding: 16px;
  width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
}

.movie-info h2 {
  padding-bottom: 5px;
}

.movie-info img {
  width: 300px;
}

.m-info-2 {
  width: 250px;
  padding-top: 35px;
  padding-left: 15px;
}

.m-info-2 p {
  padding-top: 5px;
}
