body {
  background: linear-gradient(to bottom, #e9edf6, #DBDAEC);
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.back-button {
    background-color: #FDEEF5;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
  }
  
  .back-button:hover {
    background-color: #FDBFD3;
  }
  